// colors
$grey: #333333;
$white: #fff;

// navi colors
$nav-background: $grey;
$nav-text-color: $white;

// Counter colors
$counter-text-color: $white;
$counter-bg-color: #B5d0E2;
$counter-border-color: #2099E8;
